In [13]:
# Importing the required libraries
import pandas as pd
import numpy as np

In [18]:
#uploading the data set
dfIH=pd.read_csv('D:/Invoice Headers.csv')
dfID=pd.read_csv('D:/Invoice Detail.csv')
dfCooP=pd.read_csv('D:/CooP.csv')

C:\Users\Sachin Kamath\AppData\Local\Temp\ipykernel_13748\999180012.py:4: DtypeWarning: Columns (2,41) have mixed types. Specify dtype option on import or set low_memory=False.
  dfCooP=pd.read_csv('D:/CooP.csv')

In [20]:
#from the business problem I understand that there are 

#1. Unit Cost
#2. Rebate In Agreement Currency 
#3. PO
#4. Asin 
#5. Quantity Recieved

In [24]:
#First step is to join the tables 

# In CooP Column the correct the column names from Purchase Order to PO and Asin to ASIN 

# Renaming columns in CooP
dfCooP = dfCooP.rename(columns={'Purchase Order': 'PO', 'Asin': 'ASIN'})

In [29]:
# View specific columns
selected_columns = dfCooP[['PO', 'ASIN']]
print(selected_columns)

             PO        ASIN
0      87FN1UXM  B005ILL5IW
1      5YGTPPOU  B005ILL5IW
2      2UG36VQS  B005ILL5IW
3      3Q4SQ3GF  B005ILL5IW
4      2UG36VQS  B005ILL5IW
...         ...         ...
80405  4YFXIQ3N  B08TTMQ6CC
80406  8QSLNZMP  B01LY5FIUC
80407  83EVLYQU  B01DLGX2PY
80408  7VY5289K  B0086FDBX4
80409  2XTAGR2K  B08TTMQ6CC

[80410 rows x 2 columns]

In [32]:
# merge the tables CooP & Invoice Detail with PO and ASIN
df = pd.merge(dfID, dfCooP, on=['PO', 'ASIN'])

In [34]:
df.head(20)

,Invoice Number,PO,Unit Cost,ASIN,Quantity_x,Shortage quantity,Quantity received,Invoice ID,Receive Date,Return Date,...,Invoice,Revised Invoice Quantity,Revised Invoice Rebate,Rebate Currency,New Quantity,New Rebate,Old Invoice Quantity,Old Invoice Rebate,Multi-Country Parent Agreement ID,Marketplace
0,INV-105948,4YYKL18D,$9.00,B004XWGS7U,72,2,70,2700-567377980,01-06-2022,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,INV-105948,4YYKL18D,$9.00,B004XWGS7U,72,2,70,2700-567377980,1/21/22,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,INV-105948,4YYKL18D,$9.00,B004XWGS7U,72,2,70,2700-567394220,01-06-2022,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,INV-105948,4YYKL18D,$9.00,B004XWGS7U,72,2,70,2700-567394220,1/21/22,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,INV-105948,4YYKL18D,$9.00,B004XWGS7U,72,2,70,2700-567468355,01-06-2022,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,INV-105948,4YYKL18D,$9.00,B004XWGS7U,72,2,70,2700-567468355,1/21/22,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,INV-105948SCR,4YYKL18D,$9.00,B004XWGS7U,2,2,0,2700-567377980,01-06-2022,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,INV-105948SCR,4YYKL18D,$9.00,B004XWGS7U,2,2,0,2700-567377980,1/21/22,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,INV-105948SCR,4YYKL18D,$9.00,B004XWGS7U,2,2,0,2700-567394220,01-06-2022,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,INV-105948SCR,4YYKL18D,$9.00,B004XWGS7U,2,2,0,2700-567394220,1/21/22,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,INV-105948SCR,4YYKL18D,$9.00,B004XWGS7U,2,2,0,2700-567468355,01-06-2022,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,INV-105948SCR,4YYKL18D,$9.00,B004XWGS7U,2,2,0,2700-567468355,1/21/22,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,INV-105948,4YYKL18D,$9.00,B00KLSON7W,12,0,12,2700-567377980,01-07-2022,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,INV-105948,4YYKL18D,$9.00,B00KLSON7W,12,0,12,2700-567394220,01-07-2022,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,INV-105948,4YYKL18D,$9.00,B00KLSON7W,12,0,12,2700-567468355,01-07-2022,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,INV-105948,4YYKL18D,$5.40,B00RN2NSWU,24,0,24,2700-567377980,01-06-2022,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,INV-105948,4YYKL18D,$5.40,B00RN2NSWU,24,0,24,2700-567394220,01-06-2022,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,INV-105948,4YYKL18D,$5.40,B00RN2NSWU,24,0,24,2700-567468355,01-06-2022,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,INV-105948,4YYKL18D,$7.80,B0155N9CAU,264,12,252,2700-567377980,1/18/22,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,INV-105948,4YYKL18D,$7.80,B0155N9CAU,264,12,252,2700-567377980,01-06-2022,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#now data cleansing for the merged table named df

In [35]:
# List of columns to keep
columns_to_keep = ['Invoice Number','PO','Unit Cost', 'ASIN', 'Quantity received','Rebate In Agreement Currency']

# Delete columns not in the list

df1 = df[columns_to_keep]

In [36]:
df1.head()

,Invoice Number,PO,Unit Cost,ASIN,Quantity received,Rebate In Agreement Currency
0,INV-105948,4YYKL18D,$9.00,B004XWGS7U,70,12.96
1,INV-105948,4YYKL18D,$9.00,B004XWGS7U,70,0.00
2,INV-105948,4YYKL18D,$9.00,B004XWGS7U,70,32.40
3,INV-105948,4YYKL18D,$9.00,B004XWGS7U,70,0.00
4,INV-105948,4YYKL18D,$9.00,B004XWGS7U,70,71.28

In [37]:
# Check for missing values 
missing_values = df1.isnull().sum()

# Print the count of missing values for each column
print("Missing Values:")
print(missing_values)

Missing Values:
Invoice Number                      0
PO                                  0
Unit Cost                           0
ASIN                                0
Quantity received                   0
Rebate In Agreement Currency    20005
dtype: int64

In [39]:
# Drop rows with 'Rebate In Agreement Currency' missing values
dfcleaned = df1.dropna(subset=['Rebate In Agreement Currency'])
print(dfcleaned)

       Invoice Number        PO Unit Cost        ASIN  Quantity received  \
0          INV-105948  4YYKL18D     $9.00  B004XWGS7U                 70
1          INV-105948  4YYKL18D     $9.00  B004XWGS7U                 70
2          INV-105948  4YYKL18D     $9.00  B004XWGS7U                 70
3          INV-105948  4YYKL18D     $9.00  B004XWGS7U                 70
4          INV-105948  4YYKL18D     $9.00  B004XWGS7U                 70
...               ...       ...       ...         ...                ...
103060     INV-213169  87G9P7AN    $11.00  B0CLMG7ZJL                 16
103061     INV-213169  87G9P7AN    $11.00  B0CLMG7ZJL                 16
103062     INV-213169  87G9P7AN    $11.00  B0CLMG7ZJL                 16
103063     INV-213169  87G9P7AN    $11.00  B0CLMG7ZJL                 16
103064     INV-213169  87G9P7AN    $11.00  B0CLMG7ZJL                 16

        Rebate In Agreement Currency
0                            12.9600
1                             0.0000
2                            32.4000
3                             0.0000
4                            71.2800
...                              ...
103060                        3.5200
103061                       19.3600
103062                        8.8000
103063                       10.6832
103064                       12.8656

[83060 rows x 6 columns]

In [44]:
# joining dfcleaned with Invoice Headers 
df_final = pd.merge(dfIH, dfcleaned, on=['Invoice Number'])

In [45]:
print(df_final)

      Marketplace Invoice Date Payment Due Date Invoice Status  \
0              US   05-01-2022       04-02-2022           Paid
1              US   05-01-2022       04-02-2022           Paid
2              US   05-01-2022       04-02-2022           Paid
3              US   05-01-2022       04-02-2022           Paid
4              US   05-01-2022       04-02-2022           Paid
...           ...          ...              ...            ...
83055          US   24-02-2024       05-04-2024      Submitted
83056          US   24-02-2024       05-04-2024      Submitted
83057          US   24-02-2024       05-04-2024      Submitted
83058          US   24-02-2024       05-04-2024      Submitted
83059          US   24-02-2024       05-04-2024      Submitted

      Actual Paid Amount  Payee Invoice Creation Date Invoice Number  \
0             $11,409.17  SOQR1            04-01-2022     INV-105948
1             $11,409.17  SOQR1            04-01-2022     INV-105948
2             $11,409.17  SOQR1            04-01-2022     INV-105948
3             $11,409.17  SOQR1            04-01-2022     INV-105948
4             $11,409.17  SOQR1            04-01-2022     INV-105948
...                  ...    ...                   ...            ...
83055                NaN  SOQR1            06-03-2024     INV-213169
83056                NaN  SOQR1            06-03-2024     INV-213169
83057                NaN  SOQR1            06-03-2024     INV-213169
83058                NaN  SOQR1            06-03-2024     INV-213169
83059                NaN  SOQR1            06-03-2024     INV-213169

      Invoice Amount  Any Deductions        PO Unit Cost        ASIN  \
0         $12,062.12            True  4YYKL18D     $9.00  B004XWGS7U
1         $12,062.12            True  4YYKL18D     $9.00  B004XWGS7U
2         $12,062.12            True  4YYKL18D     $9.00  B004XWGS7U
3         $12,062.12            True  4YYKL18D     $9.00  B004XWGS7U
4         $12,062.12            True  4YYKL18D     $9.00  B004XWGS7U
...              ...             ...       ...       ...         ...
83055     $15,993.22           False  87G9P7AN    $11.00  B0CLMG7ZJL
83056     $15,993.22           False  87G9P7AN    $11.00  B0CLMG7ZJL
83057     $15,993.22           False  87G9P7AN    $11.00  B0CLMG7ZJL
83058     $15,993.22           False  87G9P7AN    $11.00  B0CLMG7ZJL
83059     $15,993.22           False  87G9P7AN    $11.00  B0CLMG7ZJL

       Quantity received  Rebate In Agreement Currency
0                     70                       12.9600
1                     70                        0.0000
2                     70                       32.4000
3                     70                        0.0000
4                     70                       71.2800
...                  ...                           ...
83055                 16                        3.5200
83056                 16                       19.3600
83057                 16                        8.8000
83058                 16                       10.6832
83059                 16                       12.8656

[83060 rows x 15 columns]

In [47]:
df_final.head()

,Marketplace,Invoice Date,Payment Due Date,Invoice Status,Actual Paid Amount,Payee,Invoice Creation Date,Invoice Number,Invoice Amount,Any Deductions,PO,Unit Cost,ASIN,Quantity received,Rebate In Agreement Currency
0,US,05-01-2022,04-02-2022,Paid,"$11,409.17",SOQR1,04-01-2022,INV-105948,"$12,062.12",True,4YYKL18D,$9.00,B004XWGS7U,70,12.96
1,US,05-01-2022,04-02-2022,Paid,"$11,409.17",SOQR1,04-01-2022,INV-105948,"$12,062.12",True,4YYKL18D,$9.00,B004XWGS7U,70,0.00
2,US,05-01-2022,04-02-2022,Paid,"$11,409.17",SOQR1,04-01-2022,INV-105948,"$12,062.12",True,4YYKL18D,$9.00,B004XWGS7U,70,32.40
3,US,05-01-2022,04-02-2022,Paid,"$11,409.17",SOQR1,04-01-2022,INV-105948,"$12,062.12",True,4YYKL18D,$9.00,B004XWGS7U,70,0.00
4,US,05-01-2022,04-02-2022,Paid,"$11,409.17",SOQR1,04-01-2022,INV-105948,"$12,062.12",True,4YYKL18D,$9.00,B004XWGS7U,70,71.28

In [71]:

output_path = 'D:/df_final.csv'
df_final.to_csv(output_path, index=False)

In [63]:
df_final['Actual Paid Amount'] = df_final['Actual Paid Amount'].replace('[\$,]', '', regex=True).astype(float)

In [64]:
df_final['Invoice Amount'] = df_final['Invoice Amount'].replace('[\$,]', '', regex=True).astype(float)

In [69]:
df_final['Unit Cost'] = df_final['Unit Cost'].replace('[\$,]', '', regex=True).astype(float)

In [70]:
df_final.head()

,Marketplace,Invoice Date,Payment Due Date,Invoice Status,Actual Paid Amount,Payee,Invoice Creation Date,Invoice Number,Invoice Amount,Any Deductions,PO,Unit Cost,ASIN,Quantity received,Rebate In Agreement Currency
0,US,05-01-2022,04-02-2022,Paid,11409.17,SOQR1,04-01-2022,INV-105948,12062.12,True,4YYKL18D,9.0,B004XWGS7U,70,12.96
1,US,05-01-2022,04-02-2022,Paid,11409.17,SOQR1,04-01-2022,INV-105948,12062.12,True,4YYKL18D,9.0,B004XWGS7U,70,0.00
2,US,05-01-2022,04-02-2022,Paid,11409.17,SOQR1,04-01-2022,INV-105948,12062.12,True,4YYKL18D,9.0,B004XWGS7U,70,32.40
3,US,05-01-2022,04-02-2022,Paid,11409.17,SOQR1,04-01-2022,INV-105948,12062.12,True,4YYKL18D,9.0,B004XWGS7U,70,0.00
4,US,05-01-2022,04-02-2022,Paid,11409.17,SOQR1,04-01-2022,INV-105948,12062.12,True,4YYKL18D,9.0,B004XWGS7U,70,71.28